body {
    text-align: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: auto 2rem;
}

.main-div {
    height: 1000px;
    width: 1000px;
    border: 3px solid black;
    display: grid;
}

.presetValues {
    width: 100%;
}


.presetValueText {
    display: inline-block;
    font-weight: bold;
    margin-right: 1rem;
}
.presetValue {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    margin: .25rem .125rem;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, select {
    text-transform: none;
}


.presetValue:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.customValues, .submitContainer, .resetContainer {
    display: inline-block;
    margin: 0.5rem auto;
}

form {
    display: inline-block;
}